# В этом каталоге будут храниться шаблоны ошибок (404, 500) и другие файлы необходимые для корректного
# отображения html-страниц ошибок.
#
# Все необходимые файлы  "прилетят" сюда во время сборки Docker-образа из каталога hypn0/hypn0/templates/_error/
# и будут доступны по URL /media/_error/ (в проде через nginx, в dev через Django).
*.*

# Чтобы Git отслеживал пустой каталог можно использовать .gitkeep (но у нас его рель исполняет .gitignore)
!.gitkeep