# Шаблон переменных окружения для hypn0.
# Скопируй этот файл в `.env` и заполни реальными значениями.

DJANGO_DEBUG=True
DJANGO_SECRET_KEY=CHANGE_ME
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,hypn0.ru
DJANGO_ADMINS=hypn0:admin@example.com
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000,https://hypn0.ru

# Имя файла SQLite-базы. Путь всегда собирается через `BASE_DIR.parent / 'database'`.
DJANGO_SQLITE_NAME=hypn0-db.sqlite3

# Почта.
DJANGO_EMAIL_HOST=smtp.mail.ru
DJANGO_EMAIL_PORT=2525
DJANGO_EMAIL_HOST_USER=you@email.com
DJANGO_EMAIL_HOST_PASSWORD=CHANGE_ME
DJANGO_EMAIL_FROM=you@email.com

# URL для доступа к админке Django (можно сменить для безопасности, чтобы боты не могли её найти)
ADMIN_URL=admin/

# Системные пути на хосте (ТОЛЬКО ДЛЯ ПРОДАКШЕНА)
# Используется скриптом для генерации корректного Nginx конфига (alias к медиа-файлам).
# На локальной машине разработчика (Dev) эта переменная игнорируется.
# В ПРОДАКШЕНЕ: Укажите полный путь к папке проекта на сервере
HOST_PROJECT_PATH=/home/username/projects

# Настройки доступа к пакетам в репозитории, чтобы wathtower мог проверять их свежесть и скачивать для обновления.
# Получить эти данные можно в настройках вашего репозитория, например:
#    для GitHub: в разделе "Developer settings" -> "Personal access tokens";
#    для Gitea:  в разделе "Settings / Настройки" -> "Actions / Действия" -> "Secrets / Секреты".
REPO_USER=[login]
REPO_PASS=[token]

