# В этом каталоге будут храниться файлы базы данных SQLite или другие форматы, используемые в проекте.
# Ничего не должно попадаьт в репозиторий
*.*

# Чтобы Git отслеживал пустой каталог можно использовать .gitkeep (но у нас его рель исполняет .gitignore)
!.gitkeep