# В этом каталоге будут храниться media-файлы Django (загружаемые пользователями или создаваемые приложением).
# Все файлы из этого каталога отдает внешний nginx, внутрь  docker-контейнера смонтировно как том.

# Это не должно попадаьт в репозиторий.
*.*

# Файл .gitkeep используется для того, чтобы Git отслеживал пустой каталог. Он не содержит никакого кода
# и служит только для сохранения структуры каталогов в репозитории.
!.gitkeep

# Каталог _error используется для хранения пользовательских страниц ошибок. Туда все "прилетит"
# при сборке Docker-образа (и nginx будет отдавать их) и к репозитории каталог _error будет пустым
# (только с .gitkeep или .gitignore).
!_error/
